:root {
  --loader-width: 250px;
  --loader-dot-size: 20px;
}

.container {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-no-center {
  height: 100vh;
  width: 100vw;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.loader {
  height: var(--loader-dot-size);
  width: var(--loader-width);
  position: relative;
}

.loader--dot {
  animation: loader 3s ease-in-out infinite;
  height: var(--loader-dot-size);
  width: var(--loader-dot-size);
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}

.loader--dot:first-child {
  background-color: #021526;
  animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
  background-color: #7fa1c3;
  animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
  background-color: #021526;
  animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
  background-color: #7fa1c3;
  animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
  background-color: #021526;
  animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
  background-color: #7fa1c3;
  animation-delay: 0s;
}

.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
  text-align: center;
  font-weight: bold;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }

  45% {
    transform: translateX(calc(var(--loader-width) - var(--loader-dot-size)));
  }

  65% {
    transform: translateX(calc(var(--loader-width) - var(--loader-dot-size)));
  }

  95% {
    transform: translateX(0);
  }
}
